.login-container{
    max-width: 50%;
}
.hero {
    min-height: 1000px;
    background-image: url("../assets/img/stocksnap-man-2604149_1920.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}

ul {
    list-style: none;
    padding-left: 0;
}
nav{
    min-height: 40px;
}
