<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{ bootstrap.load_css() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
    <title>Home</title>
    <style>img{
        max-width: 100px;
    }
    </style>
</head> 
<body class="d-flex flex-column min-vh-100">
{% include 'navbar.html' %}
<div class="container my-5">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div id="flash-messages" class="alert alert-{{ category }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}
    
    <h1 class="text-center fw-bold mb-2">
        Your 7-Day Workout Plan
    </h1>

    <p class="text-center text-muted mb-5">
        Train consistently. Stay strong. Conquer your goals.
    </p>

{% if workout_plan %}
    <div class="workout-plan">
        {% for day_key, day in workout_plan_data.items() %}
            <div class="workout-row">
                <!-- IMAGE -->
                <img
                    src="{{ url_for('static', filename='assets/img/' ~ day[0][2]) }}" 
                    class="workout-image"
                    alt="{{ day[0][0] }}"
                >
                <!-- CONTENT -->
                <div class="workout-info">
                    <h2>Day {{ loop.index }}</h2>
                    <h4>{{ day[0][0] }}</h4>
                    <p>{{ day[0][1] }}</p>
                </div>
                <!-- BUTTON -->
                <div class="workout-action">
                    {% if loop.index in completed_days %}
                        <button class="btn btn-success" disabled>✓ Completed</button>
                    {% else %}
                        <a href="{{ url_for('start_workout', day=loop.index) }}" class="btn btn-primary">Start Training</a>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
        <div class="text-center my-5">

        <form method="POST" action="{{ url_for('load_next_week') }}">

            <button
                type="submit"
                class="btn btn-primary btn-lg px-5" id="next-week-button" disabled>
                
                Load Next Week →

            </button>

        </form>

    </div>

    {% else %}

        <div class="text-center mt-5">

            <h3>
                You don't have a workout plan yet.
            </h3>

            <p class="text-muted">
                Complete your fitness profile to generate your plan.
            </p>

            <a
                href="{{ url_for('fitness_profile') }}"
                class="btn btn-primary"
            >
                Create Workout Plan
            </a>

        </div>

    {% endif %}
{% include "footer.html" %}
    {{ bootstrap.load_js() }}
    <script src="{{url_for('static',filename='js/script.js')}}"></script>
    <script>
        setTimeout(function(){let flash=document.getElementById("flash-messages");
                if(flash){
                    flash.remove();
                }} ,2000);
    const completedDays = {{ completed_days | tojson }};
    const nextWeekButton =
        document.getElementById("next-week-button");
    if (completedDays.length === 7) {
        nextWeekButton.disabled = false;
    }
    </script>
</body>
</html>