<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Workout</title>
    <!-- Bootstrap -->
    {{ bootstrap.load_css() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
</head>
<body>
	<!-- VIDEO -->
	<div class="container workout-container">
		<!-- DAY --> <!-- WORKOUT NUMBER -->
		<div class="d-flex justify-content-between align-items-center mb-2 mt-0">
    		<h3 class="fw-bold mb-0">Day {{ day_number }}</h3>
    		<h5 class="mb-0">Workout <span id="workout-number">1</span></h5>
		</div>
		<!-- WORKOUT CARD -->
		<div class="card shadow-sm border-0 workout-card">
			<!-- VIDEO -->
			<div class="video-wrapper">
				<video id="workout-video" autoplay muted loop playsinline>
					<source id="video-source" src="" type="video/mp4">
				</video>
				</div>
				<!-- CARD BODY -->
				<div class="card-body text-center p-4">
					<h3 id="exercise-name" class="fw-bold mb-1"></h3>
					<h4 id="reps" class="fw-bold"></h4>
				</div>
			</div>
			<!-- PREVIOUS / NEXT -->
			<div  id="navigation-buttons"  class="d-flex justify-content-between align-items-center mt-3">
				<button id="previous-button"class="btn btn-outline-primary px-4" disabled>← Previous</button>
                <form id="completeWorkoutForm" method="POST" action="{{ url_for('complete_workout', day=day_number) }}"></form>
				    <button id="next-button" class="btn btn-primary px-4">Done →</button>
                </form>
			</div>
			<!-- REST SCREEN -->
			<div id="rest-screen" class="card shadow border-0 text-center p-5 mt-4 d-none">
				<h2 id="rest-title" class="fw-bold text-primary">REST</h2>
				<p id="rest-message" class="text-muted">Take a short break before your next exercise.</p>
                <p id="next-exercise" class="text-muted"></p>
				<div id="rest-timer" class="display-1 fw-bold my-4"></div>
				<button id="skip-rest" class="btn btn-outline-secondary d-inline-block w-auto">Skip Rest</button>
			</div>
		</div>
	</div>
	{{ bootstrap.load_js() }}
    <script> const workouts = {{ workouts | tojson | safe }};</script>
<script src="{{url_for('static',filename='js/script.js')}}"></script>
</body>
</html>